.update_password{
    margin-top:2rem;
    background:#fff;
    &.admin{
        border:1px solid #f2f2f2;
        margin-top:10rem;
        &.consultant-p{
            margin-top:2rem;
        }
        & form{
            & .input_label{
                @include Flex();
                flex-direction: column;
               
                &:not(:last-child){
                    margin-bottom:2rem;
                }
                & input{
                    height:5rem;
                    padding:1rem;
                    border:1px solid #c4bfbf;
                    border-radius: 1rem;
                }
                & label{
                    margin-bottom:1rem;
                }
            }
            & button[type=submit]{
                max-width:30rem;
                width:100%;
          background: rgb(17, 25, 42);
                height:4.5rem;
                cursor: pointer;
                color:#fff;
                font-size:1.6rem;
                text-transform: uppercase;
                
            }
        }
    }
    & .titles_wrapper{
        border-bottom:1px solid #f2f2f2;
        padding:2rem;
        & .subtitle,
        & .title{
            margin-left:1.5rem;
        }
        & .title{
            color:#000;
            font-weight:600;
            font-size: 2rem;
        }
    }
    & .form{
        padding:1rem;
        
    }
    & .button_wrapper{
        border-top:1px solid #f2f2f2; 
        padding:1rem ;
    }
   
}